<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slsale.dao.user.UserMapper">
    <!--getLoginUser-->
    <select id="getLoginUser" resultType="User" parameterType="User">
        select * from au_user where loginCode=#{loginCode} and password=#{password}
    </select>
    <!--loginCodeIsExit-->
    <select id="loginCodeIsExit" resultType="int" parameterType="User">
        select count(1) from au_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="loginCode!=null">
                and loginCode=#{loginCode}
            </if>
            <if test="id!=null">
                and id!=#{id}
            </if>
        </trim>
    </select>

    <update id="modifyUser" parameterType="user">
        update au_user
        <set>
            <if test="loginCode != null"> loginCode = #{loginCode},</if>
            <if test="userName != null"> userName = #{userName},</if>
            <if test="password != null"> password = #{password},</if>
            <if test="password2 != null"> password2 = #{password2},</if>
            <if test="sex != null"> sex = #{sex},</if>
            <if test="birthday != null"> birthday = #{birthday},</if>
            <if test="cardType != null"> cardType = #{cardType},</if>
            <if test="cardTypeName != null"> cardTypeName = #{cardTypeName},</if>
            <if test="idCard != null"> idCard = #{idCard},</if>
            <if test="country != null"> country = #{country},</if>
            <if test="mobile != null"> mobile = #{mobile},</if>
            <if test="email != null"> email = #{email},</if>
            <if test="userAddress != null"> userAddress = #{userAddress},</if>
            <if test="postCode != null"> postCode = #{postCode},</if>
            <if test="createTime != null"> createTime = #{createTime},</if>
            <if test="referId != null"> referId = #{referId},</if>
            <if test="referCode != null"> referCode = #{referCode},</if>
            <if test="roleId != null"> roleId = #{roleId},</if>
            <if test="roleName != null"> roleName = #{roleName},</if>
            <if test="userType != null"> userType = #{userType},</if>
            <if test="userTypeName != null"> userTypeName = #{userTypeName},</if>
            <if test="isStart != null"> isStart = #{isStart},</if>
            <if test="lastUpdateTime != null"> lastUpdateTime = #{lastUpdateTime},</if>
            <if test="lastLoginTime != null"> lastLoginTime = #{lastLoginTime},</if>
            <if test="bankName != null"> bankName = #{bankName},</if>
            <if test="accountHolder != null"> accountHolder = #{accountHolder},</if>
            <if test="bankAccount != null"> bankAccount = #{bankAccount},</if>
            <if test="idCardPicPath != null"> idCardPicPath = #{idCardPicPath},</if>
            <if test="bankPicPath != null"> bankPicPath = #{bankPicPath}</if>
        </set>
        where id=#{id}
    </update>
    <select id="count" resultType="int" parameterType="User">
        select count(1) from au_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="loginCode!=null">and loginCode like concat("%",#{loginCode},"%")</if>
            <if test="userName!=null">and userName like concat("%",#{userName},"%")</if>
            <if test="referCode!=null">and referCode like concat("%",#{referCode},"%")</if>
            <if test="roleId!=null">and roleId=#{roleId}</if>
            <if test="isStart!=null">and isStart=#{isStart}</if>
        </trim>
    </select>
    <select id="getUserList" resultType="User" parameterType="User">
        select * from au_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="loginCode!=null">and loginCode like concat("%",#{loginCode},"%")</if>
            <if test="userName!=null">and userName like concat("%",#{userName},"%")</if>
            <if test="referCode!=null">and referCode like concat("%",#{referCode},"%")</if>
            <if test="roleId!=null">and roleId=#{roleId}</if>
            <if test="isStart!=null">and isStart=#{isStart}</if>
        </trim>
        order by createTime desc limit #{starNum},#{pageSize}
    </select>
</mapper>