<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.slsale.dao.function.FunctionMapper">
   <!--主菜单列表-->
    <select id="getMainFunctionList" parameterType="Authority" resultType="Function">
        select * from au_function where id in(select functionId from au_authority where parentId=0
        and roleId=#{roleId})
    </select>
    <!--子菜单列表-->
    <select id="getSubFunctionList" resultType="Function" parameterType="Function">
        select * from au_function where parentId=#{id} and id in(select functionId from
        au_authority where roleId=#{roleId})
    </select>
</mapper>